{
  "extends": "eslint:recommended",
  "rules": {
    "arrow-body-style": ["error", "always"],
    "brace-style": "error",
    "comma-dangle": ["error", "never"],
    "curly": "error",
    "indent": ["error", 2],
    "max-len": ["error", { "ignoreComments": true }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "padded-blocks": ["error", { "classes": "always" }]
  },
  "env": {
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
