{
  "extends": "airbnb-base",
  "rules": {
    "no-restricted-syntax": "off",
    "prefer-const": "off",
    "padded-blocks": "off",
    "comma-dangle": ["error", "never"],
    "no-await-in-loop": "off",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "valid-typeof": "off",
    "func-names": "off"
  }
}
